/* General styles */
.cInnerContent {
    max-width: auto;
    margin: 0 auto;
    padding: 80px;
    background-color: black;
    color: white;
  }
  
  /* Top section styles */
  .top-section {
    margin-bottom: 50px;
  }
  
  .text-content h1 {
    text-align: center;
    margin: 40px 0;
  }
  
  .main-image img {
    width: 100%;
    max-width: 600px; /* Adjust based on your preference */
    display: block;
    margin: 0 auto; /* Center image */
  }
  
  /* Features and grid system */
  .features {
    display: flex;
    flex-direction: column;
  }
  
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .ipsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between grid items */
  }
  
  .ipsGrid_span5, .ipsGrid_span7 {
    flex: 0 0 auto;
  }
  
  .ipsGrid_span5 {
    width: 40%; /* Adjust the width as needed */
  }
  
  .ipsGrid_span7 {
    width: 58%; /* Adjust the width as needed */
  }
  
  /* Card styling for featured images */
  .card {
    padding: 10px;
    background: black;
    
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Animation-related styles */
  .gs_reveal {
    visibility: hidden; /* Initially hide elements to be animated */
  }
  
  /* Utility classes */
  .ipsType_right {
    text-align: right;
  }
  
  .ipsType_center {
    text-align: center;
  }
  
  .ipsSpacer_bottom_double {
    margin-bottom: 60px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .ipsGrid {
      flex-direction: column;
    }
  
    .ipsGrid_span5, .ipsGrid_span7 {
      width: 100%; /* Full width on smaller screens */
    }
  
    .feature {
      flex-direction: column;
    }
  
    .featured-image-container, .ipsGrid_span7 {
      text-align: center; /* Center content on smaller screens */
    }
  }
  